<div>
  <p> {{ name }},
  </p>
  <p> Thank you for your interest in pursuing a degree at <a href='https://www.asu.edu'>Arizona State University</a>.
    U.S. News & World Report ranks ASU the #1 most innovative school in the country, ahead of Stanford (#2) and MIT (#3).
    From engaging in meaningful, innovative research and entrepreneurial projects to collaborating with classmates and faculty,
    you will be elevating your career when you enroll in undergraduate studies at ASU.
  </p>

  <p> With <a href='https://webapp4.asu.edu/programs/'>more than 350 excellent undergraduate degree programs and certificates</a>,
    including new degree programs in emerging fields, there is a degree path here to fit your career goals.
  </p>
  <p> Below you will find a link to degree search, which has more information about the degree program in which you indicated interest.
  </p>

  <a href='https://webapp4.asu.edu/programs/t5/majorinfo/ASU00/{{ prog_plan }}/undergrad/false'>
    <h3>
      {{ degree }}, {{ degreeLevel }}
    </h3>
  </a>

  <p>As you learn more about ASU, we invite you to get a full view of the Sun Devil experience. We'll keep you updated
    on student life, academic opportunities and admission timelines, and send you special invitations to events near you.
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    Matthew R. López<br>
    Executive Director<br>
    Admission Services
  </p>

  {{ program_description }}

  <p>
    <strong><i>Helpful Resources for Future Sun Devils</i></strong><br>
    <i>Interactive viewbook and general information</i>
  </p>

  <ul>
    <li><a href='https://yourfuture.asu.edu/'>my future</a></li>
    <li><a href='http://www.asu.edu/prospective/video/'>about ASU (Video)</a></li>
    <li><a href='https://students.asu.edu/tuition'>cost calculator</a> and <a href='https://students.asu.edu/scholarships/estimator '>scholarship estimator</a></li>
  </ul>

  <p><strong>Explore the campus for your degree:</strong><br>
    <a href='https://www.asu.edu/tour/'>Take a tour</a>
  </p>

  <br />
  <div>
    By providing your email address, you gave Arizona State University permission to send this email.
    Arizona State University | Admission Services | PO Box 870112 | Tempe, AZ 85287-0112 Subscription Center | Unsubscribe | Privacy Policy
  </div>

</div>
