<div>
  <p>
    {{ name }},
  </p>
  <p> Thank you for your interest in pursuing an advanced degree at <a href='https://students.asu.edu/graduate'>Arizona
    State University</a>. U.S. News & World Report ranks ASU the #1 most innovative school in the country, ahead of Stanford
    and MIT. From engaging in meaningful, innovative research and entrepreneurial projects to collaborating with classmates
    and faculty, you will be elevating your career when you enroll in graduate studies at ASU.
  </p>
  <p> With <a href='https://webapp4.asu.edu/programs/t5/graduate/false'>more than 450 excellent graduate degree programs
    and certificates</a>, including new degree programs in emerging fields, there is a degree path here to fit your career goals.
  </p>
  <p> Following is a link to Degree Search which has more information about the degree program in which you indicated interest.
  </p>
  <a href='https://webapp4.asu.edu/programs/t5/majorinfo/ASU00/{{ prog_plan }}/graduate/false'>
    <h3>
      {{ degree }}, {{ degreeLevel }}
    </h3>
  </a>
  <p>If you have any questions about a degree program, feel free to <a href='mailto:gograd@asu.edu'>contact us</a> or the academic department for the program. We are all happy to help you take the next step toward your graduate degree.</p>";
  <p>Sincerely,</p>
  <p>Michael Mobley<br>
    Director, Graduate Admissions<br>
    Admission Services
  </p>

  {{ program_description }}

  <p>
    <strong><i>Review these additional resources</i></strong><br>
    <a href='https://students.asu.edu/graduate'>How and When to Apply for ASU Graduate Admission</a><br>
    <a href='https://graduate.asu.edu/egss'>Preparing for Graduate School Seminars</a><br>
    <a href='https://students.asu.edu/tuition'>Cost Estimator</a> and
    <a href='https://students.asu.edu/graduate/finances'>Graduate Funding Options</a>
  </p>

  <p><strong>Explore the campus for your degree:</strong><br>
    <a href='https://www.asu.edu/tour/'>Take a tour</a>
  </p>

  <br />

  <div style='color:grey;'>This message sent by <a href = 'mailto:{{ from_email }}' >{{ from_email }}</a>
    is the result of your request for more information on the ASU website. By providing your email address, you gave
    Arizona State University permission to send this email. Please add <a href = 'mailto:{{ from_email }}' >{{ from_email }}</a>
    to your address book or safe sender list. Arizona State University, Undergraduate Admissions, PO Box 870112, Tempe, AZ 85287-0112.
  </div>

</div>
